li{ list-style: none}
a{text-decoration: none}
img{width: 100%;height: 100%}
/*头部模块制作*/
header{
    width: 100%;
    height:160px;
    background-color: white;
}
.biglogo{
    width: 270px;
    height: 130px;
    margin-left: 850px;
    margin-top: 20px;
}
.biglogo img{
    width: 100%;
    height: 100%;
}
header>img{
    position: absolute;
    top: 30px;
    left: 100px;
    height: 80px;
    padding-top: 30px;
    padding-left: 30px;
}
.logo{
    position: absolute;
    left: -10px;
}
/*头部模块制作结束*/

main{
    height: 2700px;
}
.customer{
    height: 800px;
}

/*底部模块制作*/
.footer{
    height: 540px;
    background-color: gainsboro;
}
.mod_service{
    height: 70px;
    border-bottom: 1px solid darkgray;
    padding-bottom: 35px;
}
.mod_service ul li{
    width: 400px;
    height: 50px;
    float: left;
    padding-left: 50px;
}
.mod_service ul li h5{
    width: 70px;
    height: 70px;
    background-color: blueviolet;
    float: left;
    margin-right: 5px;
}
.s1 {
    height: 50px;
    width: 350px;
    padding-left: 10px;
}
.s1 h2{ padding-top: 18px;  }
.mod_help{
    height: 260px;
    border-bottom: 1px solid darkgray;
    padding-top: 30px;
    padding-left: 150px;
}
.mod_help dl{
    float: left;
    margin-right: 200px;
}
.mod_help dl dd{
    line-height: 30px;
    color: dimgrey;
}
.mod_copyright{
    padding-top: 20px;
    text-align: center;
    color: dimgrey;
    line-height: 30px;
}
/*底部模块制作结束*/